@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex;
  @include items-center;
  @include justify-center;
  z-index: 50;
  padding: spacing(4);
}

.modal {
  position: relative;
  background-color: color('white');
  border-radius: border-radius('lg');
  max-width: 28rem;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: spacing(4);
  right: spacing(4);
  color: color('gray-400');
  font-size: font-size('2xl');
  font-weight: font-weight('bold');
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  
  &:hover {
    color: color('gray-600');
  }
}

.content {
  padding: spacing(6);
}

