@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: color('white');
}

