@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.button {
  background-color: color('orange-500');
  color: color('white');
  padding: 0.5rem 1rem; // px-4 py-2
  border-radius: border-radius('md');
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
  font-size: font-size('base');
  
  &:hover {
    background-color: color('orange-600');
  }
}

