@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.container {
  background-color: color('white');
  border-radius: border-radius('lg');
  box-shadow: shadow('md');
  padding: 2rem;
  width: 100%;
  min-height: 100%;

  @include respond-to('sm') {
    padding: 2.5rem;
  }

  @include respond-to('lg') {
    padding: 3rem;
  }
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  font-size: font-size('2xl');
  font-weight: font-weight('bold');
  color: color('gray-900');
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: font-size('sm');
  color: color('gray-600');
}

