@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.footer {
  background-color: color('gray-900');
  color: color('white');
  padding: spacing(8) 0;
  margin-top: auto;
}

.footerContent {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 spacing(4);
  
  @include respond-to('sm') {
    padding: 0 spacing(6);
  }
  
  @include respond-to('lg') {
    padding: 0 spacing(8);
  }
}

.footerInner {
  @include flex-col;
  @include justify-between;
  @include items-center;
  
  @include respond-to('md') {
    flex-direction: row;
  }
}

.copyright {
  margin: 0;
}

.links {
  @include flex;
  gap: spacing(6);
  margin-top: spacing(4);
  
  @include respond-to('md') {
    margin-top: 0;
  }
}

.link {
  color: color('gray-300');
  transition: color 0.2s;
  text-decoration: none;
  
  &:hover {
    color: color('white');
  }
}

