@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.footer {
  background-color: color('gray-900');
  color: color('white');
  padding-top: spacing(8); // py-8 = 2rem = 32px
  padding-bottom: spacing(8);
  margin-top: auto;
}

.footerContent {
  max-width: 80rem; // max-w-7xl = 80rem = 1280px
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing(4); // px-4
  padding-right: spacing(4);
  
  @include respond-to('sm') {
    padding-left: spacing(6); // sm:px-6
    padding-right: spacing(6);
  }
  
  @include respond-to('lg') {
    padding-left: spacing(8); // lg:px-8
    padding-right: spacing(8);
  }
}

.footerInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  @include respond-to('md') {
    flex-direction: row;
  }
}

.copyright {
  margin: 0;
  color: color('white');
}

.links {
  display: flex;
  gap: spacing(6); // space-x-6 = 1.5rem = 24px
  margin-top: spacing(4); // mt-4
  
  @include respond-to('md') {
    margin-top: 0;
  }
}

.link {
  color: color('gray-300');
  transition: color 0.2s;
  text-decoration: none;
  
  &:hover {
    color: color('white');
  }
}

