@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.storeCard {
  background-color: color('white');
  border-radius: border-radius('lg');
  box-shadow: shadow('md');
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid color('gray-200');
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  
  &:hover {
    box-shadow: shadow('lg');
    border-color: color('orange-500');
  }
}

.imageContainer {
  position: relative;
  height: 12rem;
  overflow: hidden;
  background-color: color('gray-200');
}

.storeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  
  .storeCard:hover & {
    transform: scale(1.05);
  }
}

.content {
  padding: spacing(4);
}

.title {
  font-size: font-size('lg');
  font-weight: font-weight('semibold');
  color: color('gray-900');
  margin-bottom: spacing(2);
}

.description {
  color: color('gray-600');
  font-size: font-size('sm');
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

