@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: spacing(8) spacing(4);
  
  @include respond-to('sm') {
    padding-left: spacing(6);
    padding-right: spacing(6);
  }
  
  @include respond-to('lg') {
    padding-left: spacing(8);
    padding-right: spacing(8);
  }
}

.title {
  font-size: font-size('3xl');
  font-weight: font-weight('bold');
  color: color('gray-900');
  margin-bottom: spacing(6);
}

.emptyCart {
  @include card;
  padding: spacing(12);
  text-align: center;
}

.emptyIcon {
  font-size: 3.75rem;
  margin-bottom: spacing(4);
}

.emptyTitle {
  font-size: font-size('xl');
  font-weight: font-weight('semibold');
  color: color('gray-900');
  margin-bottom: spacing(2);
}

.emptyMessage {
  color: color('gray-600');
  margin-bottom: spacing(6);
}

.continueShoppingButton {
  display: inline-block;
  background-color: color('orange-500');
  color: color('white');
  padding: spacing(2) spacing(6);
  border-radius: border-radius('md');
  transition: background-color 0.2s;
  cursor: pointer;
  text-decoration: none;
  
  &:hover {
    background-color: color('orange-600');
  }
}

.cartGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(6);
  
  @include respond-to('lg') {
    grid-template-columns: 2fr 1fr;
  }
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
}

.cartItem {
  @include card;
}

.itemContent {
  @include flex;
  gap: spacing(4);
}

.itemImage {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: border-radius('md');
}

.itemImagePlaceholder {
  width: 6rem;
  height: 6rem;
  background-color: color('gray-200');
  border-radius: border-radius('md');
  @include flex;
  @include items-center;
  @include justify-center;
  
  .placeholderText {
    color: color('gray-400');
    font-size: font-size('xs');
  }
}

.itemDetails {
  flex: 1;
}

.itemHeader {
  @include flex;
  @include items-start;
  @include justify-between;
  margin-bottom: spacing(2);
}

.itemInfo {
  flex: 1;
}

.itemNameRow {
  @include flex;
  @include items-center;
  gap: spacing(2);
  margin-bottom: spacing(1);
}

.itemName {
  font-weight: font-weight('semibold');
  color: color('gray-900');
}

.reservationBadge {
  padding: spacing(0.5) spacing(2);
  background-color: color('blue-100');
  color: color('blue-800');
  font-size: font-size('xs');
  font-weight: font-weight('medium');
  border-radius: border-radius('md');
}

.storeName {
  font-size: font-size('sm');
  color: color('gray-600');
}

.reservationInfo {
  margin-top: spacing(2);
  font-size: font-size('sm');
  color: color('gray-600');
}

.reservationDate {
  font-weight: font-weight('medium');
}

.reservationTime {
  color: color('gray-500');
}

.reservationNote {
  font-size: font-size('xs');
  color: color('gray-500');
  margin-top: spacing(1);
  font-style: italic;
}

.removeButton {
  color: color('red-500');
  cursor: pointer;
  margin-left: spacing(2);
  background: none;
  border: none;
  font-size: font-size('lg');
  
  &:hover {
    color: color('red-700');
  }
}

.itemFooter {
  @include flex;
  @include items-center;
  @include justify-between;
  margin-top: spacing(4);
}

.quantityControls {
  @include flex;
  @include items-center;
  gap: spacing(2);
}

.quantityButton {
  width: spacing(8);
  height: spacing(8);
  border: 1px solid color('gray-300');
  border-radius: border-radius('md');
  @include flex;
  @include items-center;
  @include justify-center;
  cursor: pointer;
  background-color: color('white');
  
  &:hover {
    background-color: color('gray-100');
  }
}

.quantityValue {
  width: spacing(12);
  text-align: center;
  font-weight: font-weight('medium');
}

.quantityText {
  font-size: font-size('sm');
  color: color('gray-600');
}

.itemPrice {
  font-size: font-size('lg');
  font-weight: font-weight('bold');
  color: color('orange-500');
}

.summaryCard {
  @include card;
  position: sticky;
  top: spacing(4);
  display: flex;
  flex-direction: column;
  gap: spacing(6);
}

.summaryTitle {
  font-size: font-size('xl');
  font-weight: font-weight('semibold');
  color: color('gray-900');
  margin-bottom: spacing(3);
}

.summaryList {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  font-size: font-size('sm');
}

.summaryRow {
  @include flex;
  @include justify-between;
}

.summaryLabel {
  color: color('gray-600');
}

.summaryValue {
  font-weight: font-weight('medium');
}

.summaryDivider {
  margin-top: spacing(4);
  border-top: 1px solid color('gray-200');
  padding-top: spacing(4);
}

.summaryTotal {
  @include flex;
  @include justify-between;
  font-size: font-size('lg');
  font-weight: font-weight('semibold');
  color: color('gray-900');
}

.totalAmount {
  color: color('orange-500');
}

.checkoutButton {
  width: 100%;
  background-color: color('orange-500');
  color: color('white');
  padding: spacing(3) spacing(4);
  border-radius: border-radius('md');
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: font-weight('medium');
  transition: background-color 0.2s;
  text-decoration: none;
  display: block;
  
  &:hover {
    background-color: color('orange-600');
  }
  
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px color('orange-500');
  }
}

.clearCartButton {
  width: 100%;
  border: 1px solid color('gray-300');
  color: color('gray-700');
  padding: spacing(2) spacing(4);
  border-radius: border-radius('md');
  background-color: color('white');
  cursor: pointer;
  transition: background-color 0.2s;
  
  &:hover:not(:disabled) {
    background-color: color('gray-50');
  }
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.continueShoppingLink {
  display: block;
  text-align: center;
  color: color('orange-500');
  cursor: pointer;
  text-decoration: none;
  
  &:hover {
    color: color('orange-600');
  }
}

